@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* LANDING PAGE */

.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.content h1 {
  font-size: 12vw;
  font-weight: 700;
  line-height: 1;
}

.content p {
  font-size: 1rem;
  font-weight: 500;
}

/* HEADER */

.header {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  margin-top: 2rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 1rem;
  font-weight: 500;
  position: sticky;
}

.header nav{
  display: flex;
  gap: 2rem;
}

/* LINKS */

.link-style {
  position: relative;
}

.link-style::after{
  content: '';
  position: absolute;
  height: 0.07rem;
  left:0;
  bottom: -0.15rem;
  width: 0;
  background:white;
  transition: width .4s;
}

.link-style:hover:after{
  width: 100%;
}

.link-style-white {
  position: relative;
}

.link-style-white::after{
  content: '';
  position: absolute;
  height: 0.07rem;
  left:0;
  bottom: -0.15rem;
  width: 0;
  background:#ede8e4;
  transition: width .4s;
}

.link-style-white:hover:after{
  width: 100%;
}