@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* LANDING PAGE */
.landing-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.landing-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.landing-content h1 {
  font-size: 12vw;
  font-weight: 700;
  line-height: 1;
}

.landing-content p {
  font-size: 1rem;
  font-weight: 500;
}

.about-section {
  position: relative;
  z-index: 2;
  height: 200vh;
  background-color: #111111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15rem ;
  gap: 20rem;
}

/* HEADER */
.header-section {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin-top: 2rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 15rem;
  margin-right: 15rem;
}

.header-section nav{
  display: flex;
  gap: 8rem;
  position: sticky;
}

/* FOOTER */
.footer-section {
  background-color: #111111;
  color: #ede8e4;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  z-index: 3;
  position: relative;
  justify-content: space-between;
}

.footer-content{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

/* LINKS */
.link-style {
  position: relative;
}

.link-style::after{
  content: '';
  position: absolute;
  height: 0.07rem;
  left:0;
  bottom: -0.15rem;
  width: 0;
  background:white;
  transition: width .4s;
}

.link-style:hover:after{
  width: 100%;
}

.link-style-white {
  position: relative;
}

.link-style-white::after{
  content: '';
  position: absolute;
  height: 0.07rem;
  left:0;
  bottom: -0.15rem;
  width: 0;
  background:#ede8e4;
  transition: width .4s;
}

.link-style-white:hover:after{
  width: 100%;
}